name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  lint:
    if: |
      !(
        contains(github.event.head_commit.message, 'chore(')
        && contains(github.event.head_commit.message, '): release v')
      )
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Set node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
      - name: Install pnpm
        uses: pnpm/action-setup@v4
      - name: Setup
        run: npm i -g @antfu/ni
      - name: Install
        run: nci
      - name: Lint
        run: |
          nr lint
          nr lint:type